* {
  margin: 0;
  padding: 0;
}
#header {
  background: url(images/abc.jpg);
  width: 100%;
  background-position: center;
  background-size: cover;
}
.container {
  margin-right: 100px;
  margin-left: 100px;
  font-family: sans-serif;
}
.logo {
  margin-top: 5px;
  margin-left: 0px;
  width: 100px;
}
.header-text {
  max-width: 45%;
  margin-top: 10%;
}
.header-text p {
  font-size: 20px;
  line-height: 7mm;
  text-align: justify;
}
#more {
  display: none;
}
h1 {
  font-size: 40px;
}
.square {
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: darkslateblue;
  margin: 15px 0;
}
.common-btn,
.common-btn1 {
  padding: 18px 40px;
  background: transparent;
  outline: none;
  border: 2px solid darkslateblue;
  border-radius: 5mm;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
p {
  font-size: 15px;
  line-height: 18px;
  color: #777;
}
.header-text button {
  margin-bottom: 60px;
  margin-top: 20px;
}
.line-1 {
  width: 15px;
  height: 15px;
  background: darkslateblue;
  display: inline-block;
}
.line-2 {
  width: 80px;
  height: 1px;
  background: darkslateblue;
  display: inline-block;
}
.line-3 {
  width: 60px;
  height: 1px;
  background: darkslateblue;
  display: inline-block;
}
.line {
  line-height: 8px;
}
#sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0;
  background: darkslateblue;
  z-index: 2;
  transition: 0.5s;
}
nav ul li a {
  position: relative;
  top: 55px;
  left: 20px;
  display: block;
  padding: 0.35px;
  color: white;
  text-decoration: none;
}
nav ul {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 250px;
  list-style: none;
  font-size: 15px;
  line-height: 55px;
  background-color: darkslateblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.active a {
  background-color: rgb(88, 76, 170);
  position: relative;
  left: 0px;
}
nav ul li {
  float: bottom;
  width: 250px;
}
nav ul li a:hover {
  position: relative;
  left: 0px;
  background-color: deepskyblue;
}
#fa {
  font-size: 24px;
}

.nav1 {
  display: block;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 43px;
  height: 100vh;
  background: darkslateblue;
  z-index: 2;
}
.nav1 ul {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 43px;
  list-style: none;
  line-height: 55px;
  background-color: darkslateblue;
}
.nav1 ul li {
  margin-left: 5px;
  color: white;
  float: bottom;
  width: 43px;
}
.nav1 ul li i {
  position: relative;
  top: 55px;
  line-height: 55px;
  display: block;
  padding: 0.35px;
  color: white;
  text-decoration: none;
}
.nav1 ul li i:hover {
  background-color: deepskyblue;
}

#menuBtn {
  width: 40px;
  height: 40px;
  position: fixed;
  left: 1px;
  top: 5px;
  z-index: 2;
  cursor: pointer;
}
/*--About--*/
#about {
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about-left-col {
  flex-basis: 50%;
}
.about-left-col img {
  width: 100%;
}
.about-right-col {
  flex-basis: 50%;
  text-align: center;
}
.about-right-col p {
  font-size: 18px;
  line-height: 6mm;
}
.about-text {
  max-width: 500px;
  margin-right: 100px;
  display: inline-block;
}
.about-text h2 {
  margin: 50px 0 10px;
  font-size: 24px;
  font-style: italic;
}
#abend {
  margin-right: 15%;
  text-align: right;
  font-size: 24px;
  font-style: italic;
}
/*--Members--*/
#members {
  padding-top: 50px;
  padding-bottom: 50px;
}
.member-row {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.member-col {
  flex-basis: 25%;
  text-align: center;
}
.member-col img {
  width: 100px;
}
.member-col h4 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}
.member-btn {
  margin: 80px auto 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
/*--Activity--*/
#activities {
  padding: 100px 0;
}
.activity-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.activity-right-col {
  flex-basis: 50%;
}
.activity-right-col img {
  width: 100%;
}
.activity-left-col {
  flex-basis: 50%;
}
.activity-text {
  max-width: 350px;
}
.activity-text button {
  margin: 30px 0;
}
.acon {
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 5%;
  border-radius: 2mm;
  background: rgba(0, 0, 0, 0.3);
}
.acon p {
  color: white;
}
.acon h3 {
  color: ghostwhite;
}
#a1 {
  background: sandybrown;
}
#a2 {
  background: #ee6055;
}
#a3 {
  background: #17c5c2;
}
/*--Contact--*/
#blur {
  background: black;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.container2 {
  position: fixed;
  top: 15%;
  left: 33%;
  width: 30%;
  height: 55%;
  display: none;
  background: white;
  padding: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  border-radius: 2mm;
}
.container2 .text {
  font-size: 100%;
  font-weight: 600;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.container2 form {
  margin-top: -20px;
}
.container2 form .data {
  height: 45px;
  width: 100%;
  margin: 20px 0;
}
.container2 form .data input {
  height: 100%;
  width: 100%;
  padding-left: 3px;
  font-size: 17px;
  border: darkslateblue solid 0.75mm;
  font-family: Arial, Helvetica, sans-serif;
}
.container2 .text {
  font-size: 100%;
  font-weight: 600;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

form .login_link {
  text-align: center;
}
form .login_link label {
  color: deepskyblue;
  text-decoration: none;
}
form .login_link label:hover {
  text-decoration: underline;
}
.container2 .close-btn1 {
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
  font-size: 18px;
}
.container2 .close-btn1:hover {
  color: deepskyblue;
}
.show-btn1 {
  padding: 18px 40px;
  background: transparent;
  outline: none;
  border: 2px solid darkslateblue;
  border-radius: 5mm;
  font-weight: bold;
  cursor: pointer;
}
.show-btn1:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#show1:checked ~ .container2 {
  display: block;
}

#sb1 {
  margin-top: 29%;
  margin-bottom: 6%;
  text-align: center;
}

.show-btn,
.container1 {
  position: absolute;
  top: 20%;
  left: 33%;
  width: 30%;
  display: none;
  background: white;
  padding: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
.container1 .text {
  font-size: 100%;
  font-weight: 600;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.container1 form {
  margin-top: -20px;
}
.container1 form .data {
  height: 45px;
  width: 100%;
  margin: 30px 0;
}
form .data input {
  height: 100%;
  width: 100%;
  padding-left: 3px;
  font-size: 17px;
  border: darkslateblue solid 0.75mm;
  font-family: Arial, Helvetica, sans-serif;
}
form .btn {
  margin: 30px 0;
  height: 45px;
  width: 50%;
  position: relative;
  left: 200px;
  overflow: hidden;
}
form .btn button:hover {
  background-color: ghostwhite;
}
form .btn button {
  height: 100%;
  width: 100%;
  background: white;
  border: darkslateblue solid 0.75mm;
  border-radius: 1mm;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}
form .forgot-pass {
  margin-left: -8px;
}
form .forgot-pass a {
  color: deepskyblue;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
form .forgot-pass a:hover {
  text-decoration: underline;
}
form .signup_link {
  text-align: center;
}
form .signup_link a {
  color: deepskyblue;
  text-decoration: none;
}
form .signup_link a:hover {
  text-decoration: underline;
}

.container1 .close-btn {
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
  font-size: 18px;
}
.container1 .close-btn:hover {
  color: deepskyblue;
}
.show-btn {
  position: absolute;
  top: 5%;
  left: 85%;
  background-color: darkslateblue;
  padding: 10px 20px;
  font-size: 20px;
  width: 65px;
  color: white;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.show-btn:hover {
  background-color: deepskyblue;
}
#show:checked ~ .container1 {
  display: block;
}
input[type="checkbox"] {
  display: none;
}
#show1:checked ~ .container1 {
  display: none;
}
#show:checked ~ .container2 {
  display: none;
}
/*--Footer--*/
#footer {
  padding: 0 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin-top: 1%;
  border-radius: 2mm;
}
.footer-links {
  width: 100%;
  padding: 0 0 0 0;
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
}
.link-title {
  width: 25%;
  margin-left: 5%;
  flex-basis: 21%;
}
#im1 {
  flex-basis: 15%;
}
.link-title h3 {
  color: darkslateblue;
  margin-bottom: 5%;
}

.link-title a {
  text-decoration: none;
  color: #777;
}
.link-title a:hover {
  color: deepskyblue;
}
.link-title small {
  color: #999;
  font-size: 16px;
}
.footer-logo img {
  width: 25%;
}
.fend {
  text-align: left;
  font-size: 16px;
  color: white;
  background-color: black;
  padding: 0 0 1% 0;
  width: 100%;
}
#sm {
  margin-left: 4%;
}
.fend a {
  text-decoration: none;
  color: white;
  padding: 0 0 0 0;
}
#sm1 {
  margin-top: 1%;
  position: absolute;
  right: 1%;
}
.fend a:hover {
  color: deepskyblue;
}
/*--Social Media--*/
.social-icons {
  width: 50px;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
}
.social-icons img {
  width: 55px;
  display: block;
  margin: 0 auto 25px;
  cursor: pointer;
}
#sign {
  height: 100vh;
  width: 100%;
  background-color: white;
}
i {
  font-size: 24px;
}
#a1 {
  height: 20%;
}
/* Slideshow container */
.slideshow-container {
  max-width: 85%;
  position: relative;
  margin: auto;
  margin-top: 5%;
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.hev {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.evrow {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.ecol {
  flex-basis: 380px;
}
.evcontainer1 {
  text-align: left;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 5%;
  border-radius: 2mm;
}
#ev1 {
  background-color: cornflowerblue;
}
#ev2 {
  background-color: palevioletred;
}
#eh1 {
  width: 100%;
  border: cornflowerblue solid;
  border-radius: 2mm;
}
#eh2 {
  width: 100%;
  border: palevioletred solid;
  border-radius: 2mm;
}
#eh1 h2 {
  margin-top: 2%;
  margin-bottom: 2%;
}
#eh2 h2 {
  margin-top: 2%;
  margin-bottom: 2%;
}
.evcontainer1 h3 {
  color: black;
}
.evcontainer1 p {
  color: cornsilk;
}
@media all and (max-width: 1000px) {
  #header {
    background: url(images/abc.jpg);
    background-position: center;
    background-size: cover;
  }
  .header-text {
    max-width: 90%;
  }
  .header-text p {
    color: black;
    background: rgba(241, 241, 241, 0.9);
    border-radius: 1mm;
    padding: 2%;
    font-size: 12px;
    line-height: 4mm;
    opacity: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .container {
    margin-right: 50px;
    margin-left: 50px;
    font-family: sans-serif;
  }
  .show-btn {
    font-size: 10px;
    width: 40px;
  }
  .show-btn1 {
    font-size: 12px;
    padding: 10px 16px;
  }
  form .btn {
    margin: 20px 0;
    height: 20px;
    width: 50%;
    position: absolute;
    left: 50%;
  }
  form .btn button {
    background: white;
    border: darkslateblue solid 0.25mm;
    font-size: 12px;
  }
  #sideNav {
    width: 125px;
    height: 200vh;
  }
  nav ul li a {
    position: relative;
    top: 28px;
    left: 20px;
  }
  nav ul {
    height: 200vh;
    width: 125px;
    font-size: 10px;
    line-height: 28px;
  }
  nav ul li {
    float: bottom;
    width: 125px;
  }
  .nav1 {
    width: 30px;
    height: 100vh;
  }
  .nav1 {
    display: none;
  }
  #menuBtn {
    width: 20px;
    height: 20px;
    position: fixed;
    left: 1px;
    top: 3px;
  }
  #fa {
    font-size: 16px;
  }
  .logo {
    margin-top: 2px;
    margin-left: 20px;
    width: 50px;
  }
  .header-text {
    margin-top: 90px;
  }
  h1 {
    font-size: 25px;
  }
  .common-btn {
    padding: 10px 16px;
  }
  .common-btn1 {
    background: rgba(241, 241, 241, 0.9);
    padding: 10px 16px;
  }
  .social-icons img {
    width: 30px;
    margin: 15px auto;
  }
  .about-left-col,
  .about-right-col {
    flex-basis: 100%;
  }
  .about-text {
    margin: 50px 50px 0;
    display: inline-block;
  }
  .about-text h2 {
    font-size: 18px;
  }
  .member-col {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  .activity-left-col {
    flex-basis: 100%;
  }
  .activity-right-col {
    flex-basis: 100%;
    margin-top: 70px;
  }
  .contact-left-col,
  .contact-right-col {
    flex-basis: 100%;
  }
  .contact-right-col img {
    margin-top: 35px;
  }
  .footer-left-col,
  .footer-right-col {
    flex-basis: 100%;
  }
  .link-title {
    flex-basis: 50%;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 15px;
  }
  h4 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
  .header-text {
    margin-top: 5%;
  }
  .link-title small {
    font-size: 10px;
  }
  .footer-info {
    font-size: 12px;
  }
  .container2 form .data {
    height: 20px;
    width: 100%;
    margin-top: 20px;
  }
  .container2 form .data input {
    padding-left: 1px;
    font-size: 12px;
    border: darkslateblue solid 0.25mm;
  }
  .fend {
    font-size: 10px;
  }
  #abend {
    font-size: 18px;
  }
}
