* {
  margin: 0;
  padding: 0;
}
#header {
  background: url(images/abc.jpg);
  background-attachment: fixed;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.container {
  margin-right: 100px;
  margin-left: 100px;
  font-family: sans-serif;
}
#logo123 {
  margin-right: 2%;
}
.logo {
  margin-top: 5px;
  margin-left: 0px;
  width: 100px;
}
.header-text {
  max-width: 45%;
  margin-top: 10%;
}
.header-text p {
  font-size: 20px;
  line-height: 7mm;
  text-align: justify;
}
#more {
  display: none;
}
h1 {
  font-size: 40px;
}
.square {
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: darkslateblue;
  margin: 15px 0;
}
/*button*/
.common-btn,
.common-btn1 {
  padding: 18px 40px;
  background: transparent;
  outline: none;
  border: 2px solid darkslateblue;
  border-radius: 5mm;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.common-btn2 {
  background: transparent;
  outline: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 35px;
  color: rgb(73, 72, 72);
}
.common-btn2:hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  color: white;
  text-shadow: 0 0 2px deepskyblue, 0 0 4px deepskyblue, 0 0 6px deepskyblue,
    0 0 8px deepskyblue, 0 0 10px deepskyblue;
}
.light {
  color: rgb(82, 82, 82);
}
p {
  font-size: 15px;
  line-height: 18px;
  color: #777;
}
.header-text button {
  margin-bottom: 60px;
  margin-top: 20px;
}
.line-1 {
  width: 15px;
  height: 15px;
  background: darkslateblue;
  display: inline-block;
}
.line-2 {
  width: 80px;
  height: 1px;
  background: darkslateblue;
  display: inline-block;
}
.line-3 {
  width: 60px;
  height: 1px;
  background: darkslateblue;
  display: inline-block;
}
.line {
  line-height: 8px;
}
/*Navigation*/
#sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0;
  background: darkslateblue;
  z-index: 2;
  transition: 0.5s;
}
nav ul li a {
  position: relative;
  top: 0px;
  left: 0px;
  display: block;
  padding: 0.35px;
  color: white;
  text-decoration: none;
  border-radius: 1.5mm;
  transition: 0.25s;
}
nav ul {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 250px;
  list-style: none;
  font-size: 15px;
  line-height: 55px;
  background-color: darkslateblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
nav ul h2 {
  margin-left: 45px;
  font-size: 19px;
  color: white;
}
.active a {
  background-color: rgb(98, 84, 194);
  position: relative;
  left: 10px;
  padding-left: 10px;
  margin-left: -10px;
}
.active a i {
  background: transparent;
}
nav ul li {
  float: bottom;
  width: 220px;
  margin-left: 10px;
  margin-bottom: 10pt;
}
nav ul li a:hover {
  position: relative;
  left: 10px;
  background-color: white;
  color: darkslateblue;
  padding-left: 10px;
  margin-left: -10px;
  box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.308);
}
#fa {
  font-size: 24px;
}

.nav1 {
  display: block;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 45px;
  height: 100vh;
  background: darkslateblue;
  z-index: 2;
}
.nav1 ul {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 45px;
  list-style: none;
  line-height: 55px;
  background-color: darkslateblue;
}
.nav1 ul li {
  margin-left: 0px;
  color: white;
  float: bottom;
  width: 45px;
  text-align: center;
}
.nav1 ul li i {
  position: relative;
  top: 55px;
  line-height: 55px;
  display: block;
  padding: 0px;
  color: white;
  text-decoration: none;
  width: 45px;
}
.nav1 ul li i:hover {
  background-color: white;
  color: darkslateblue;
}
.active i {
  background: rgb(98, 84, 194);
}

#menuBtn {
  width: 40px;
  height: 40px;
  position: fixed;
  left: 1px;
  top: 5px;
  z-index: 2;
  cursor: pointer;
}
/*--About--*/
#about {
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about-left-col {
  flex-basis: 50%;
}
.about-left-col img {
  width: 100%;
}
.about-right-col {
  flex-basis: 50%;
  text-align: center;
}
.about-right-col p {
  font-size: 18px;
  line-height: 6mm;
}
.about-text {
  max-width: 500px;
  margin-right: 100px;
  display: inline-block;
}
.about-text h2 {
  margin: 50px 0 10px;
  font-size: 24px;
  font-style: italic;
}
#abend {
  margin-right: 15%;
  text-align: right;
  font-size: 24px;
  font-style: italic;
}
/*--Members--*/
#members {
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.member-row {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.member-row1 {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.member-col {
  flex-basis: 20%;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.432);
  padding-bottom: 3%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.member-col:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}
#fa1 {
  text-decoration: none;
  color: #777;
  font-size: 2vw;
}
#fa1:hover {
  color: #ee6055;
}
.middle {
  text-align: center;
  display: none;
  padding-top: 3%;
  padding-bottom: 2%;
}
.member-col:hover > .middle {
  animation: fade-in 0.5s;
  display: block;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.member-col img {
  width: 100%;
  margin-bottom: 2%;
}
.member-col h4 {
  margin-bottom: 1vh;
  font-size: 1.5vw;
  font-weight: 400;
}
.member-btn {
  margin: 5vh auto 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.mem-con-btn {
  margin-top: 10%;
  background: rgb(92, 89, 89);
  width: 75%;
  margin-left: 12.5%;
  text-align: center;
  cursor: pointer;
  padding-bottom: 2%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  transition: 0.25s;
}
.mem-con-btn > a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.mem-con-btn:hover {
  background: rgb(65, 63, 63);
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.5);
  margin-top: 8%;
  cursor: pointer;
}
/*--Activity--*/
#activities {
  padding: 50px 0;
  background: rgb(250, 222, 198);
  background-attachment: fixed;
}
.activity-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.activity-right-col {
  flex-basis: 50%;
}
.activity-right-col img {
  width: 100%;
}
.activity-left-col {
  flex-basis: 50%;
}
.activity-text {
  max-width: 350px;
}
.activity-text button {
  margin: 30px 0;
}
.acon {
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 5%;
  border-radius: 2mm;
  background: rgba(0, 0, 0, 0.3);
}
.acon p {
  background: white;
  color: black;
  padding: 2%;
  border: 0.5vh black solid;
}
.acon h3 {
  text-align: center;
  color: ghostwhite;
}
.acon h1 {
  text-align: center;
  color: ghostwhite;
}
#a1 {
  background: rgb(250, 151, 65);
}
#a2 {
  background: #ff5b4f;
}
#a3 {
  background: #35bbb9;
}
/*Event register*/
#register {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  z-index: 99999;
  display: none;
}
#r-head {
  width: 100%;
  height: 8%;
  background: rgb(92, 71, 224);
  font-size: 2.25vw;
  color: white;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#r-box {
  width: 25vw;
  height: 66vh;
  background: white;
  position: absolute;
  left: 37.5vw;
  top: 17vh;
  overflow: auto;
}
#r-data {
  width: 100%;
  height: 90%;
}
.r-in {
  text-align: center;
  padding-top: 10%;
}
.r-input {
  width: 75%;
  border: none;
  outline: none;
  border-bottom: black 0.35vh solid;
  font-size: 1.5vw;
}
#r-submit {
  width: 75%;
  font-size: 1.5vw;
  padding: 0.75%;
  background: rgb(92, 71, 224);
  color: white;
  border: none;
  outline: none;
}
#r-submit:hover {
  background: rgb(51, 61, 167);
}
.r-in2 {
  text-align: center;
  padding-top: 10%;
}
#r-termlink {
  text-decoration: none;
  color: rgb(92, 71, 224);
}
#r-termlink:hover {
  color: rgb(75, 91, 236);
}
#r-close:hover {
  background: #ff1100;
}
/*--Footer--*/
#footer {
  padding: 0 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  margin-top: 1%;
  background: white;
}
.footer-links {
  width: 100%;
  padding: 0 0 0 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-wrap: wrap;
}
.link-title {
  margin-left: 5%;
  flex-basis: 21vw;
  font-size: 1.35vw;
  padding-bottom: 0.77vw;
}
#im1 {
  flex-basis: 16%;
}
.link-title h3 {
  color: darkslateblue;
  margin-bottom: 5%;
  font-size: 1.5vw;
}

.link-title a {
  text-decoration: none;
  color: black;
  display: inline;
}
#mfa {
  font-size: 2vw;
}
.link-title a:hover {
  color: deepskyblue;
}
.link-title small {
  font-size: 100%;
}
.link-title1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mem-social {
  margin-right: 1%;
  flex-basis: 18%;
  background: rgb(189, 189, 189);
  text-align: center;
  padding-top: 4%;
  padding-bottom: 3%;
  border-radius: 50%;
}
.fend {
  text-align: center;
  font-size: 1.25vw;
  color: white;
  display: flex;
  flex-direction: column;
}
.fend a {
  text-decoration: none;
  color: gray;
}

.fend a:hover {
  color: deepskyblue;
}
#im1 {
  flex-basis: 17vw;
}
#mem-fol {
  flex-basis: 20vw;
  margin-right: 5vw;
}
#mem-fol1 {
  flex-basis: 15vw;
}
/*--Social Media--*/
.social-icons {
  width: 50px;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
}
.social-icons img {
  width: 55px;
  display: block;
  margin: 0 auto 25px;
  cursor: pointer;
}
#sign {
  height: 100vh;
  width: 100%;
  background-color: white;
}
i {
  font-size: 24px;
}
#a1 {
  height: 20%;
}
/* Slideshow container */
.slideshow-container {
  max-width: 85%;
  position: relative;
  margin: auto;
  margin-top: 1%;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.2s;
  animation-name: fade;
  animation-duration: 1.2s;
}
/*Events*/
.hev {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.evrow {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.ecol {
  flex-basis: 380px;
}
.evcontainer1 {
  text-align: left;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 5%;
  border-radius: 2mm;
}
#ev1 {
  background-color: cornflowerblue;
}
#ev2 {
  background-color: palevioletred;
}
#eh1 {
  width: 100%;
  border: cornflowerblue solid;
  border-radius: 2mm;
}
#eh2 {
  width: 100%;
  border: palevioletred solid;
  border-radius: 2mm;
}
#eh1 h2 {
  margin-top: 2%;
  margin-bottom: 2%;
}
#eh2 h2 {
  margin-top: 2%;
  margin-bottom: 2%;
}
.evcontainer1 h3 {
  color: black;
}
.evcontainer1 p {
  color: cornsilk;
}
/*Feedback*/
.comments {
  margin-left: 31%;
  margin-top: 5%;
  padding: 5%;
  width: 30%;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  background: rgba(44, 44, 43, 0.849);
  border-radius: 1%;
}
.comin {
  border: none;
  outline: none;
  height: 43px;
  width: 100%;
  font-size: 100%;
  background: transparent;
  border-bottom: gold 0.75vh solid;
  color: white;
}
.cin {
  padding: 0.5%;
}
.sub-btn {
  padding: 10px 10px;
  border-radius: 0.75mm;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  color: white;
  background: rgb(221, 192, 31);
}
.sub-btn:hover {
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.726);
  background: gold;
}
#myForm {
  font-size: 20px;
  line-height: 10mm;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#com-box {
  width: 100%;
  height: 100%;
  color: white;
}
#com-head {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 40%;
  padding: 1%;
  text-align: center;
  background: white;
  width: 20%;
}
/*Preloader*/
#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgb(33, 28, 34) url(images/preloader.gif) no-repeat center;
  z-index: 99999;
}
/*feedback submission loader*/
#sub-load {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  z-index: 99999;
  position: fixed;
  display: none;
}
#sub-load0-1 {
  width: 25%;
  height: 30vh;
  background: white url(images/feed-pre.gif) no-repeat center;
  margin-left: 38.5%;
  margin-top: 35vh;
}
#sub-load0-2 {
  text-align: center;
  position: relative;
  top: 70%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: orangered;
}
#sub-load1 {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  z-index: 99999;
  position: fixed;
  display: none;
}
#sub-load1-1 {
  width: 25%;
  height: 30vh;
  background: rgb(2, 173, 2);
  margin-left: 38.5%;
  margin-top: 35vh;
}
#sub-load1-3 {
  text-align: center;
  font-size: 48px;
  position: relative;
  top: 35%;
  color: white;
}
#sub-load1-2 {
  text-align: center;
  position: relative;
  top: 40%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}
#sub-load2 {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  z-index: 99999;
  position: fixed;
  display: none;
}
#sub-load2-1 {
  width: 25%;
  height: 30vh;
  background: rgb(255, 195, 205);
  margin-left: 38.5%;
  margin-top: 35vh;
}
#sub-load2-3 {
  text-align: center;
  font-size: 48px;
  position: relative;
  top: 35%;
  color: rgb(255, 0, 0);
}
#sub-load2-2 {
  text-align: center;
  position: relative;
  top: 40%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: red;
}
/*privacy*/
#pri-po {
  width: 75vw;
  height: 75vh;

  position: fixed;
  left: 10.5vw;
  top: 10.5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: rgb(255, 255, 255);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: none;
  opacity: 0;
  overflow: scroll;
  background: rgba(45, 70, 107, 0.562);
  box-shadow: 0 25px 40px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  align-items: center;
  text-decoration: wavy;
}
#open-pri {
  cursor: pointer;
}
#close-pri {
  cursor: pointer;
}
#open-pri:hover {
  color: deepskyblue;
}
#close-pri:hover {
  background: red;
}
#pri-po::-webkit-scrollbar {
  width: 0.75vw;
}
#pri-po ul {
  list-style: none;
}
#pri-po ul li::before {
  content: "\2022";
  color: gold;
}
#pri-po::-webkit-scrollbar-track {
  background: transparent;
}

#pri-po::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.658);
  border-radius: 2mm;
  height: 0.5vh;
}
#pri-po-load {
  width: 20vw;
  position: fixed;
  left: 40vw;
  top: 30vh;
  box-shadow: 0 0 50vw gold;
  display: none;
}
/*subscribe*/
#subscribe {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: none;
}
.subs-box {
  width: 40%;
  height: 30%;
  background: rgba(49, 48, 48, 0.788);
  display: flex;
  position: absolute;
  left: 30%;
  top: 35%;
  overflow-y: auto;
  overflow-x: hidden;
}
.subs-img {
  width: 35%;
  flex-basis: 35%;
}
.subs-form-box {
  width: 100%;
}
.subs-head {
  text-align: center;
  font-size: 2vw;
  color: gold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.subs-form {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 65%;
}
#subs-email1 {
  width: 80%;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: gold 0.75vh solid;
  color: white;
  font-size: 1.5vw;
  margin-bottom: 10%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#subs-btn1 {
  cursor: pointer;
  font-size: 1.25vw;
  padding: 1%;
  background: transparent;
  border: white solid 0.5mm;
  outline: none;
  color: white;
  transition: 0.5s;
}
#subs-btn1:hover {
  background: rgb(202, 177, 33);
}
#subs-email1::placeholder {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#subs-close1 {
  position: absolute;
  left: 95%;
  color: white;
  cursor: pointer;
}
#subs-close1:hover {
  background: red;
}
#unsubscribe {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: none;
}
.subs-form1 {
  position: absolute;
  top: 25%;
  left: 40%;
  width: 65%;
}
#subs-email2 {
  width: 80%;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: gold 0.75vh solid;
  color: white;
  font-size: 1.5vw;
  margin-bottom: 10%;
}
#subs-tell {
  width: 80%;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: gold 0.75vh solid;
  color: white;
  font-size: 1.5vw;
  margin-bottom: 5%;
}
#subs-btn2 {
  cursor: pointer;
  font-size: 1.25vw;
  padding: 1%;
  background: transparent;
  border: white solid 0.5mm;
  outline: none;
  color: white;
  transition: 0.5s;
}
#subs-btn2:hover {
  background: rgb(202, 177, 33);
}
#subs-close2 {
  position: absolute;
  left: 95%;
  color: white;
  cursor: pointer;
}
#subs-close2:hover {
  background: red;
}
#subs-email2::placeholder {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#subs-tell::placeholder {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#subs-sub {
  background: rgb(100, 233, 100);
  padding: 0.25vw;
  cursor: pointer;
  border-radius: 5%;
}
#subs-sub:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  color: white;
}
#subs-un {
  background: rgb(247, 117, 117);
  padding: 0.25vw;
  cursor: pointer;
  border-radius: 5%;
}
#subs-un:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  color: white;
}
#subs-top {
  position: absolute;
  top: 1vh;
  right: 7vw;
  display: flex;
  font-size: 1.75vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#subs-sub1 {
  margin-right: 3.5vw;
  cursor: pointer;
  background: orangered;
  padding: 0.5vw;
  color: white;
  padding-left: 0.75vw;
  padding-right: 0.75vw;
  border-radius: 1.5vw;
  transition: ease-in 0.35s;
}
#subs-un1 {
  cursor: pointer;
  background: blueviolet;
  padding: 0.5vw;
  color: white;
  padding-left: 0.75vw;
  padding-right: 0.75vw;
  border-radius: 1.5vw;
  transition: ease-in 0.35s;
}
#subs-sub1:hover {
  background: rgb(187, 74, 33);
  box-shadow: inset 3px 5px 5px rgba(0, 0, 0, 0.5);
}
#subs-un1:hover {
  background: rgb(98, 34, 158);
  box-shadow: inset 3px 5px 5px rgba(0, 0, 0, 0.5);
}
/*select text*/
::-moz-selection {
  background: rgb(255, 230, 0);
  color: white;
}

::selection {
  background: rgb(255, 230, 0);
  color: white;
}
body::-webkit-scrollbar {
  width: 0.8vw;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: gold;
  border-radius: 2mm;
}
body::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 217, 0, 0.774);
}
html {
  scroll-behavior: smooth;
}
@media all and (max-width: 951px) {
  #header {
    background: url(images/abc.jpg);
    background-position: center;
    background-size: cover;
  }
  .header-text {
    max-width: 90%;
  }
  .header-text p {
    color: black;
    background: rgba(241, 241, 241, 0.9);
    border-radius: 1mm;
    padding: 2%;
    font-size: 12px;
    line-height: 4mm;
    opacity: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .container {
    margin-right: 50px;
    margin-left: 50px;
    font-family: sans-serif;
  }
  .show-btn {
    font-size: 10px;
    width: 40px;
  }
  .show-btn1 {
    font-size: 16px;
    padding: 10px 16px;
  }
  form .btn {
    margin: 20px 0;
    height: 20px;
    width: 50%;
    position: absolute;
    left: 50%;
  }
  form .btn button {
    background: white;
    border: darkslateblue solid 0.25mm;
    font-size: 12px;
  }
  #sideNav {
    width: 200px;
    height: 200vh;
  }
  nav ul li a {
    position: relative;
    top: 0px;
    left: 0px;
  }
  nav ul {
    height: 200vh;
    width: 200px;
    font-size: 15px;
    line-height: 45px;
  }
  nav ul h2 {
    margin-left: 30px;
    font-size: 16px;
  }
  nav ul li {
    float: bottom;
    width: 180px;
  }
  nav ul li a:hover {
    position: relative;
    left: 10px;
    width: 170px;
    padding-left: 10px;
    margin-left: -10px;
  }
  .active a {
    background-color: white;
    color: darkslateblue;
    position: relative;
    left: 10px;
    width: 170px;
    padding-left: 10px;
    margin-left: -10px;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.397);
  }
  .active i {
    background: transparent;
  }
  .nav1 {
    width: 30px;
    height: 100vh;
  }
  .nav1 {
    display: none;
  }
  #menuBtn {
    width: 25px;
    height: 25px;
    position: fixed;
    left: 1px;
    top: 3px;
  }
  #fa {
    font-size: 16px;
  }
  .logo {
    margin-top: 2px;
    margin-left: 20px;
    width: 50px;
  }
  .header-text {
    margin-top: 90px;
  }
  h1 {
    font-size: 25px;
  }
  .common-btn {
    padding: 10px 16px;
  }
  .common-btn1 {
    background: rgba(241, 241, 241, 0.9);
    padding: 10px 16px;
  }
  .social-icons img {
    width: 30px;
    margin: 15px auto;
  }
  .about-left-col,
  .about-right-col {
    flex-basis: 100%;
  }
  .about-text {
    margin: 50px 50px 0;
    display: inline-block;
  }
  .about-text h2 {
    font-size: 18px;
  }
  .member-row {
    width: 80%;
  }
  .member-row1 {
    width: 80%;
  }
  .member-col {
    flex-basis: 45%;
    margin-bottom: 2vh;
  }
  #fa1 {
    font-size: 2.5vh;
  }
  .middle {
    text-align: center;
    display: none;
    padding-top: 3%;
    padding-bottom: 2%;
  }
  .member-col h4 {
    margin-bottom: 1vh;
    font-size: 2.25vh;
  }
  .mem-con-btn {
    font-size: 1.75vh;
  }
  .activity-left-col {
    flex-basis: 100%;
  }
  .activity-right-col {
    flex-basis: 100%;
    margin-top: 70px;
  }
  .contact-left-col,
  .contact-right-col {
    flex-basis: 100%;
  }
  .contact-right-col img {
    margin-top: 35px;
  }
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 15px;
  }
  h4 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
  .header-text {
    margin-top: 5%;
  }
  .link-title {
    flex-basis: 24vw;
    font-size: 1.5vw;
    padding-bottom: 0.75vw;
  }
  .link-title h3 {
    font-size: 1.75vw;
  }
  #im1 {
    flex-basis: 16vw;
  }
  #mem-fol {
    flex-basis: 20vw;
    margin-right: 2vw;
  }
  #mem-fol1 {
    flex-basis: 15vw;
  }
  .fend {
    font-size: 10px;
  }
  #abend {
    font-size: 18px;
  }
  #logo123 {
    margin-right: 0;
  }
  .comments {
    margin-left: 18%;
    margin-top: 5%;
    padding: 5%;
    width: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .comin {
    height: 15px;
    width: 100%;
    font-size: 100%;
    border-bottom: gold 0.75vh solid;
  }
  .sub-btn {
    padding: 5px 5px;
    outline: none;
    border-radius: 0.5mm;
    font-size: 10px;
    background: rgb(221, 192, 31);
  }
  #com-text {
    font-size: 100%;
  }
  #myForm {
    font-size: 12px;
    line-height: 5mm;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  #com-box {
    width: 100%;
    height: 100%;
  }
  #com-head {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20%;
    padding: 1%;
    text-align: center;
    background: white;
    width: 60%;
  }
  #sub-load0-1 {
    width: 55%;
    height: 25vh;
    background: white url(images/feed-pre2.gif) no-repeat center;
    margin-left: 25%;
    margin-top: 35vh;
  }
  #sub-load1-1 {
    width: 55%;
    height: 25vh;
    background: rgb(2, 173, 2);
    margin-left: 25%;
    margin-top: 35vh;
  }
  #sub-load1-3 {
    text-align: center;
    font-size: 30px;
    position: relative;
    top: 30%;
    color: white;
  }
  #sub-load1-2 {
    text-align: center;
    position: relative;
    top: 25%;
  }
  #sub-load2-1 {
    width: 55%;
    height: 25vh;
    background: rgb(255, 195, 205);
    margin-left: 25%;
    margin-top: 35vh;
  }
  #sub-load2-3 {
    text-align: center;
    font-size: 30px;
    position: relative;
    top: 30%;
    color: rgb(255, 0, 0);
  }
  #sub-load2-2 {
    text-align: center;
    position: relative;
    top: 25%;
  }
  .subs-box {
    width: 100%;
    height: 20%;
    position: absolute;
    left: 0%;
    top: 40%;
  }
  .subs-head {
    font-size: 2.5vh;
  }
  #subs-email1 {
    font-size: 2.25vh;
    border-bottom: gold 0.45vh solid;
  }
  #subs-email2 {
    font-size: 2.25vh;
    border-bottom: gold 0.45vh solid;
  }
  #subs-tell {
    font-size: 2.25vh;
    border-bottom: gold 0.45vh solid;
  }
  #subs-btn2 {
    font-size: 1.25vh;
  }
  #subs-btn1 {
    font-size: 1.25vh;
  }
  #r-box {
    width: 50vw;
    height: 44vh;
    background: white;
    position: absolute;
    left: 25vw;
    top: 28vh;
  }
  #r-head {
    font-size: 2.5vh;
  }
  .r-input {
    font-size: 2vh;
    border-bottom: 0.2vh solid black;
  }
  #r-submit {
    font-size: 2vh;
  }
  #subs-top {
    font-size: 1.75vh;
  }
  #subs-sub1 {
    padding-left: 0.75vh;
    padding-right: 0.75vh;
    border-radius: 1.5vh;
  }
  #subs-un1 {
    padding-left: 0.75vh;
    padding-right: 0.75vh;
    border-radius: 1.5vh;
  }
  .ecol {
    margin-bottom: 5%;
  }
}
@media all and (max-height: 350px) {
  .subs-box {
    width: 100%;
    height: 40%;
    position: absolute;
    left: 0;
    top: 37.5%;
  }
  .subs-head {
    font-size: 3.75vw;
  }
  #subs-email1 {
    font-size: 3.5vw;
    border-bottom: gold 0.55vw solid;
  }
  #subs-email2 {
    font-size: 3.5vw;
    border-bottom: gold 0.55vw solid;
  }
  #subs-tell {
    font-size: 3.5vw;
    border-bottom: gold 0.55vw solid;
  }
  #subs-btn2 {
    font-size: 2.25vw;
  }
  #subs-btn1 {
    font-size: 2.25vw;
  }
  #r-box {
    width: 50vw;
    height: 90vh;
    position: absolute;
    left: 25vw;
    top: 5vh;
  }
  #r-head {
    font-size: 5vw;
  }
  .r-input {
    font-size: 4vw;
    border-bottom: 0.2vh solid black;
  }
  #r-submit {
    font-size: 4vw;
  }
}
